.header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    to bottom,
    rgba(49, 28, 135, 0.4),
    rgba(49, 28, 135, 0)
  ); */
}

.headerTitle {
  font-size: 3rem;
}

.headerText {
  text-align: center;
  max-width: 600px;
}
